<app-menu-user></app-menu-user>
<div class="contents">
    <div id="body1">
        <div class="clearfix">
            <img src="covid-img.jpg" alt="Insert your image here" height="300" width="450">
            <div class="detail">
                <h1>Welcome</h1>
                <p>
                    Mark your event now!
                </p>
            </div>
        </div>
    </div>
    <div class="body2">
        <div class="clearfix">
            <div class="testimonial">
                <h2>Comentários</h2>
                <span>- João Ramos -</span>
                <p>	
                    “Mal vi o website, sabia que era um 20!”</p>
                <span>- Dino Costa -</span>
                <p>
                    “Concordo com o que o utilizador acima ...”</p>
                
            </div>
            <h1>Como funciona?</h1>
            <p>
                Para assistira um espetáculo, a aquisição de um bilhete não será suficiente. No contexto da atual pandemia é necessário assegurar que cada cliente tem um teste negativo à covid-19antes da data do espetáculo. Para o efeito, um cliente deverá efetuaro upload da digitalização do comprovativo de teste negativoe o promotor deverá verificaro teste negativo na plataforma, caso contrário o bilhete será cancelado.				</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
