<head>
    <link rel="stylesheet" type="text/css" href="about-us.component.css" media="screen" />
</head>
<app-menu-user></app-menu-user>
<div id="contents">
    <div class="clearfix">
        <br>
        <h1 align ="center">Our Team</h1>
       <div class="container"> 
            
            <div class="section">
                <ul>
                    <li>
                        <div>
                            <div>
                                <img src="hermedinger.jpg" alt="your team" height="94" width="90">
                            </div>
                        </div>
                        <p>
                            <b>Sérgio Oliveira</b> Administrador do Website, boa pessoa, é conhecido por muitos lugares como : "Rei dos reis".
                        </p>
                    </li>
                    <li>
                        <div>
                            <div>
                                <img src="sasuke.jpg" alt="your team" height="94" width="90">
                            </div>
                        </div>
                        <p>
                            <b>Rafael Moreira</b>Administrador do Website, boa pessoa, porém tem mau gosto musical, gosta de funk....
                        </p>
                    </li>
                    <li>
                        <div>
                            <div>
                                <img src="punchMan.jpg" alt="your team" height="94" width="90">
                            </div>
                        </div>
                        <p>
                            <b>José Paulo</b> Administrador do Website, boa pessoa, infelizmente nao gosta de Philadelphia.
                        </p>
                    </li>
                </ul>
            </div>
            
                    
            </div>
        </div>
    </div>

<app-footer></app-footer>